@charset "utf-8";
@import"./reset.css";

/* This prevents layout breaking */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body*/
body {
    background-color: #18191a;
    color: #e4e6eb;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

/*Header Styling */
.container-flex {
    background-color: #242526;
    width: 100%;
    padding: 10px 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #2d88ff;
    font-size: 24px;
}

nav .flex {
    list-style: none;
    display: flex;
}

nav .flex li a {
    color: #ffff;
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
}

#user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover; /*Prevents the image from stretching*/
}

.post-box {
    background-color: #242526;
    margin: 80px auto;
    padding: 19px;
    border-radius: 8px;
    max-width: 650px;
}

.post {
    background-color: #ffffff;
    color: #000;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    max-width: 650px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Profile image */
.post-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.post-username {
    font-weight: bold;
    font-size: 14px;
}

.post-date {
    font-size: 12px;
    color: #555;
}

.post-text {
    margin-top: 10px;
    font-size: 15px;
}

#text {
    width: 100%;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    outline: none; /*Removes the default blue glow when clicking to type*/
    height: 80px;
    resize: none; /* Removes the resize handle (the x/sign) from the page*/
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

#file {
    display: none; 
}

.fa-image {
    font-size: 22px;
    color: #fff; 
    cursor: pointer;
}

#button {
    background-color: #2d88ff;
    color: #fff;
    border: none;
    padding: 8px 25px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.hide {
    display: none !important; /*forces element to stay hidden*/
}

/*info box */
.panel {
    background-color: #3f4246;
    color: #fff;
    padding: 40px;
    border-radius: 13px;
    position: relative;
    width: 500px;
    line-height: 1.8;  
}

#close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
}

.profile-card { text-align: center;}

.profile-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
      display: block;  
    margin: 0 auto 10px;  
}

/* Name in the info-card */
.profile-card h2 {
    margin: 5px 0;
}

/* Username in the info-card */
.profile-card p {
    color: #fff;
    margin-bottom: 10px;
}

/* Details section */
.profile-details {
    margin-top: 15px;
    line-height: 1.6;
}

.post-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover; /* Crops the image to fit the box perfectly */
    border-radius: 8px;
    margin-top: 10px;
}

#file-name {
    font-size: 13px;
    color: #fff;
}

/* Mobile Styles (Responsive Design) */
@media (max-width: 600px) {
    .container-flex {
        flex-direction: column; 
        gap: 10px;
        text-align: center;
    }

    nav .flex {
        padding: 0;
    }

    nav .flex li a {
        padding: 5px;
        font-size: 13px;
    }

    .post-box {
        width: 95%; 
        margin: 10px auto;
    }

    #text {
        font-size: 16px;
    }

    .row {
        padding-top: 15px;
    }
}